/* Base styles */
.masthead {
  background: hsl(0, 0%, 90%);
}

.site-title {
  color: black;
  margin-bottom: 0;
}

.main-area {
  padding: 2em;
}

.main-menu {
  padding: 0.4em 1em;
  color: white;
  background: hsl(0, 0%, 20%);
}

.sidebar {
  padding: 0.5em 1.4em 3em;
  background: hsl(0, 0%, 90%);
  overflow: hidden;
}

.footer-area {
  padding: 0.4em 1em;
  text-align: center;
  color: white;
  background: hsl(0, 0%, 20%);
}

/* Sidebar switcher buttons */

@media screen and (max-width: 40em) {
  /* Hide switcher on small screens */
  .sidebar-switcher {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .sidebar-switcher {
    position: absolute;
    right: 0;
    padding: 0.4em 1em;
    color: hsl(0, 0%, 40%);
  }

  .sidebar-switcher a {
    color: hsl(0, 0%, 40%);
    padding-left: 0.4em;
  }

  .sidebar-switcher a:hover,
  .sidebar-switcher a:focus {
    color: hsl(0, 0%, 20%);
  }
}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
  .outer-wrap {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
  }

  .main-area {
    flex: 1 1 auto;
    order: 1;
  }

  .sidebar {
    flex: 0 0 12em;
    order: 2;
    transition: padding 0.5s ease, flex 0.5s ease, color 0.2s ease-in 0.3s;
  }

  .sidebar-left {
    order: 0;
  }

  .no-sidebar {
    flex-direction: column;
  }

  .hide {
    flex: 0 0 0;
    padding: 0;
    color: hsla(0, 0%, 0%, 0);
    transition: color 0.2s ease, flex 0.5s ease 0.3s, padding 0.5s ease 0.3s;
  }

  .hide a {
    color: hsla(0, 0%, 0%, 0);
  }
}
